.news:hover {
  background: transparent !important;
}
.t-new > p.title{
    color: #777 !important;
    font-size: 1.3em !important;
}
.t-new > p.title:hover{
    color: #1c84b5 !important;
    font-size: 1.3em !important;
}
.news{
	box-shadow: 0px 0px 0px 0px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #8e8e93;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #c7c7cc;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.input-number{
	width: 10%;
    height: 1%;
    margin-top: 15px;
}
.btn_form > .mybutton:hover{
	background: #555;
}